<h2>Timer</h2>
<p>Please set the time you want to sit for:</p>
<div class="container">
	<button type="button" class="btn btn-secondary btn-large">Start</button>
	<button type="button" class="btn btn-secondary btn-large">Stop</button>
</div>
