// Place all the styles related to the Tracker controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.container{
	justify-content: center;
	align-items: center;
	align-content: center;
	flex-direction: row;  
}

.headline{
	text-align: center;
}

.selector{
	text-align: center;
	
}

.row{
	width: 100%;
}
